<!DOCTYPE html>
<html>
<head>
  <title>Erro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="nav">
    <a href="/">Página Inicial</a>
  </div>

  <h1>Erro</h1>
  <p class="error"><%= error || 'Ocorreu um erro inesperado.' %></p>
</body>
</html>
